body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: #6c0345;
  position: sticky;
  top: 0;
  z-index: 100;
  color: aliceblue;
}

header .restaurant-card{
  width: min(100vw, 500px);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 2rem;
  height: auto;
  max-height: 80px; /* Adjust height as needed */
}

.company-info {
  flex-grow: 1; /* Allows company name to fill available space */
  text-align: center;
  padding-left: 0.5rem;
}

.company-info h1 {
  margin: 0;
  font-size: 1rem; /* Adjust font size as needed */
}

.profile {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.profile i {
  font-size: 1rem; /* Adjust icon size as needed */
  margin-right: 5px;
  /* color: #333; */
}

.profile span {
  white-space: nowrap; /*  Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
  max-width: calc(100vw - 250px); /* Adjust the maximum width as needed */
}
