<footer>
  <button class="home-btn" onclick="window.location.href = '/'">
    <i class="fas fa-home"></i> HOME
  </button>
  <form action="/order" method="post" class="view-cart-btn">
    <button style="width: 100%;"><i class="fas fa-truck-fast"></i> ORDER</button>
  </form>
</footer>
