<footer>
  <button class="home-btn" onclick="window.location.href = '/order'">
    <i class="fas fa-basket-shopping"></i> Orders
  </button>
  <button class="view-cart-btn" onclick="window.location.href = '/cart'">
    <i class="fas fa-shopping-cart"></i> View Cart
  </button>
</footer>
