<footer>
    <button class="home-btn" onclick="window.location.href = '/'">
      <i class="fas fa-home"></i> HOME
    </button>
    <button class="view-cart-btn" onclick="window.location.href = '/cart'">
      <i class="fas fa-shopping-cart"></i> View Cart
    </button>
  </footer>
  