<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MunchMagnet</title>
    <link rel="shortcut icon" href="./images/logo.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="item.css" />
  </head>
  <body>
    <script
      src="https://kit.fontawesome.com/f81f718962.js"
      crossorigin="anonymous"
    ></script>
    <div class="container">
      <%- //include('header.ejs') %>
      <header><%- include('restaurant_card.ejs',{restaurant}) %></header>
      <div class="list-container">
        <% let {menu,_id} = restaurant;
        for(let dish of menu) { %> <%-
        include('dish_card.ejs', {dish,_id}) %> <% } %>
      </div>
      <%- include('item_footer.ejs') %>
    </div>
  </body>
</html>
