<footer>
    <button class="home-btn" onclick="window.location.href = '/'">
        <i class="fas fa-home"></i> HOME
      </button>
    <button class="home-btn" onclick="window.location.href = '/order'">
      <i class="fas fa-basket-shopping"></i> Orders
    </button>
  </footer>